<div class="bg-gray-100 w-full">
    <div class="container mx-auto px-4 py-6">
      <section>
        <div class="text-left">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-3">
            <!-- DFG Logo -->
            <div class="mb-2">
              <a href="https://www.dfg.de/" target="_blank">
                <img src="{{ "/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png" | relURL }}" 
                     alt="DFG Logo" class="w-auto h-16">
              </a>
            </div>
            <!-- Legals -->
            <div>
              <h6 class="text-lg font-semibold mb-2 uppercase">Legals</h6>
              <p>
                <a href="{{ "/legals/privacy-policy" | relURL }}.html" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-lock mr-3"></i> Privacy Policy
                </a>
              </p>
              <p>
                <a href="{{ "/legals/imprint" | relURL }}.html" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-scale-balanced mr-3"></i> Imprint
                </a>
              </p>
              <p>
                <a href="{{ "/legals/disclaimer" | relURL }}.html" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-file-lines mr-3"></i> Disclaimer
                </a>
              </p>
            </div>
            <!-- Social Links -->
            <div>
              <h6 class="text-lg font-semibold mb-2 uppercase">Social Links</h6>
              <p>
                <a href="https://nfdi.social/@NFDI4Microbiota" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fab fa-mastodon mr-3"></i> Mastodon
                </a>
              </p>
              <p>
                <a href="https://github.com/NFDI4Microbiota" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fab fa-github mr-3"></i> GitHub
                </a>
              </p>
              <p>
                <a href="https://www.linkedin.com/company/98488870/admin/feed/posts/" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fab fa-linkedin mr-3"></i> LinkedIn
                </a>
              </p>
              <p>
                <a href="https://bsky.app/profile/nfdi4microbiota.bsky.social" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fab fa-bluesky mr-3"></i> BlueSky
                </a>
              </p>
            </div>
            <!-- Contact -->
            <div>
              <h6 class="text-lg font-semibold mb-2 uppercase">Contact</h6>
              <p>
                <a href="{{ "/contact-form" | relURL }}" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-paper-plane mr-3"></i> Contact & FAQ
                </a>
              </p>
              <p>
                <a href="https://lists.nfdi.de/postorius/lists/nfdi4microbiota-announce.lists.nfdi.de/" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-envelopes-bulk mr-3"></i> Mailing List
                </a>
              </p>
              <p>
                <a href="{{ "/rss.html" | relURL }}" target="_blank" class="text-gray-600 hover:text-gray-800">
                  <i class="fas fa-rss mr-3"></i> RSS Feed
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
  
